body {
  font-family: "Cormorant Garamond", serif;
  background-color: ghostwhite;
  font-size: 15pt;
}
h1 {
  padding-top: 30pt;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  color: #191414;
}
h3 {
  text-align: center;
  font-size: 50px;
}
.oil {
  width: 350px;
  border-radius: 15px;
}
.fries {
  width: 350px;
  border-radius: 15px;
}
.beers {
  width: 350px;
  border-radius: 15px;
}
.coffee {
  width: 900px;
  border-radius: 15px;
  text-align: center;
  display: block;
  margin-left: 200px;
  margin-right: auto;
}

div {
  font-size: 15pt;
  display: inline-block;
  padding: 55px;
}

p {
  text-align: center;
  font-size: 15pt;
}

.poff {
  display: block;
  margin-left: 200px;
  margin-right: auto;
  width: 900px;
  border-radius: 15px;
  text-align: center;
}
ul {
  list-style-type: none;
  position: absolute;
  top: 0%;
  left: 44%;
  font-size: 20pt;
}

li {
  display: inline;
  border-radius: 15px;
  background-color: PowderBlue;
  opacity: 0.8;
  margin: 2px;
}
li a {
  font-family: "cormorant garamond";
  color: #000000;
  margin: 4px;
}
