body {
  background-color: snow;
  font-family: "Cormorant Garamond", serif;
  padding: 20px;
}

nav {
  height: 30px;
  padding-bottom: 20px;
}

.header {
  font-family: "Cormorant Garamond", Serif;
  font-size: 40px;
  text-align: center;
  background: white;
  border-radius: 15px;
}

div.polaroid {
  width: 350px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

div.description {
  text-align: center;
  padding: 10px 20px;
}

img {
  width: 350px;
}

.places {
  /*display: inline-flexbox;*/
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Cormorant Garamond", serif;
}

.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 20px;
  border-radius: 15px;
}
.logo {
  width: 100px;
  height: 100px;
}
