body {
  background-color: #faebd7;
  font-family: "Cormorant Garamond", serif;
}

h1 {
  font-size: 30pt;
  font-family: "Cormorant Garamond", serif;
  width: 100px;
  top: 20px;
  left: 400px;
}

p {
  text-align: center;
  font-size: 20pt;
  font-family: "Cormorant Garamond", serif;
  width: 600px;
}

.places {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Cormorant Garamond", serif;
}

img {
  width: 600px;
  border-radius: 15px;
}
