/* Index page styling */
ul {
  list-style-type: none;
  position: absolute;
  top: 0%;
  left: 58%;
  font-size: 16pt;
}

li {
  display: inline;
  border-radius: 15px;
  background: #ffe4e1;
  opacity: 0.8;
  font-size: 16pt;
  font-family: "cormorant garamond";
  margin: 10x;
}

.index {
  display: flex;
  justify-content: center;
}

p {
  font-family: "cormorant garamond";
  font-size: 28pt;
  color: #000000;
  background: #ffe4e1;
  padding: 2%;
  top: 70%;
  width: 80%;
  border-radius: 15px;
  position: absolute;
  opacity: 0.8;
}

h1 {
  color: #000000;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 38pt;
  font-family: "cormorant garamond";
}

/* News feed */

h3 {
  color: #dc143c;
}

h4 {
  color: #dc143c;
  animation-name: newsfeed;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes newsfeed {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

@keyframes pulse {
  0% {
    color: purple;
    margin-bottom: -40%;
  }

  100% {
    background-color: #ff4136;
  }
}

/* formatting for news feed  */

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
}
h3 {
  display: flex;
  text-align: center;
  font-size: 50px;
}
.oil {
  width: 350px;
  border-radius: 15px;
}
.fries {
  width: 350px;
  border-radius: 15px;
}
.beers {
  width: 350px;
  border-radius: 15px;
}
.coffee {
  width: 900px;
  border-radius: 15px;
  text-align: center;
  display: block;
  margin-left: 200px;
  margin-right: auto;
}

div {
  display: inline-block;
  padding: 55px;
}

p {
  text-align: center;
  font-size: 30px;
}

.poff {
  display: block;
  margin-left: 200px;
  margin-right: auto;
  width: 900px;
  border-radius: 15px;
  text-align: center;
}

/*Contact*/

h2 {
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  border: 2px solid #000000;
  width: 350px;
  font-size: 20pt;
  font-family: "cormorant garamond";
}

input[type="submit"] {
  cursor: pointer;
  color: #008000;
  background-color: #ffe4e1;
  font-family: "cormorant garamond";
  font-size: 14pt;
  height: 40px;
  width: 200px;
  border-radius: 15px;
  margin: 0 70px;
}

input[type="submit"]:hover {
  background: #808080;
  color: #ffe4e1;
}
