/* First page */
ul {
  list-style-type: none;
  position: absolute;
  top: 0%;
  left: 58%;
  font-size: 16pt;
}

li {
  display: inline;
  border-radius: 15px;
  background: #ffe4e1;
  opacity: 0.8;
  font-size: 16pt;
  font-family: "cormorant garamond";
  margin: 10x;
}

.index {
  display: flex;
  justify-content: center;

  justify-content: ;
}

p {
  font-family: "cormorant garamond";
  font-size: 28pt;
  color: #000000;
  background: #ffe4e1;
  padding: 2%;
  top: 70%;
  width: 80%;
  border-radius: 15px;
  position: absolute;
  opacity: 0.8;
}

h1 {
  color: #000000;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 38pt;
  font-family: "cormorant garamond";
}

/* News feed */

.news {
  font-family: "cormorant garamond";
  color: #dc143c;
  width: "device-width";
  height: "100";
  border-style: solid;
  border-color: #dc143c;
  animation: 3s 1;
}

h3 {
  color: #dc143c;
}

@keyframes newsText {
  0% {
    color: purple;
    margin-bottom: -40%;
  }
}

/*Contact*/

h2 {
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  border: 2px solid #000000;
  width: 350px;
  font-size: 20pt;
  font-family: "cormorant garamond";
}

input[type="submit"] {
  cursor: pointer;
  color: #008000;
  background-color: #ffe4e1;
  font-family: "cormorant garamond";
  font-size: 14pt;
  height: 40px;
  width: 200px;
  border-radius: 15px;
  margin: 0 70px;
}

input[type="submit"]:hover {
  background: #808080;
  color: #ffe4e1;
}
