.canal {
  width: 650px;
  border-radius: 15px;
}
h1 {
  padding-top: 30pt;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  color: #191414;
}
body {
  font-family: "Cormorant Garamond", serif;
}
p {
  font-size: 16pt;
}
h2 {
  text-align: right;
  font-size: 30pt;
}
ul {
  list-style-type: none;
  position: absolute;
  top: 0%;
  left: 44%;
  font-size: 20pt;
}

li {
  display: inline;
  border-radius: 15px;
  background-color: #f2e1f3;
  opacity: 0.8;
  margin: 2px;
}
li a {
  font-family: "cormorant garamond";
  color: #000000;
  margin: 4px;
}
.museum {
  width: 650px;
  border-radius: 15px;
}
.theatre {
  width: 650px;
  border-radius: 15px;
}
.map {
  padding: 15pt;
}
body {
  background-color: snow;
}
