.toursh {
  padding-top: 30pt;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  color: #191414;
}

.tourstext {
  font-size: 16pt;
  padding: 100px;
  background-color: floralwhite;
  opacity: 0.8;
  border-radius: 15px;
}
.eventsh {
  text-align: center;
  font-size: 33pt;
  padding: 30pt;
}
#navig ul {
  list-style-type: none;
  position: absolute;
  top: 0%;
  left: 44%;
  font-size: 20pt;
}

#navig ul li {
  display: inline;
  border-radius: 15px;
  background-color: #f2e1f3;
  opacity: 0.8;
  margin: 2px;
}
#navig ul li a {
  font-family: "cormorant garamond";
  color: #000000;
  margin: 4px;
}
.canal {
  border-radius: 15px;
  max-width: 100%;
}
.museum {
  border-radius: 15px;
  max-width: 100%;
}
.theatre {
  border-radius: 15px;
  max-width: 100%;
}
.map {
  padding-top: 15pt;
  max-width: 100%;
}
body {
  background-color: snow;
  font-family: "Cormorant Garamond", serif;
}

#canals {
  padding-left: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#museums {
  padding-left: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#events {
  padding-left: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 1200px) {
  .toursh {
    padding-top: 40pt;
    font-size: 40pt;
  }

  .tourstext {
    font-size: 12pt;
    padding: 80px;
  }
  .eventsh {
    text-align: center;
    font-size: 20pt;
  }
  #navig ul {
    font-size: 15pt;
  }

  .canal {
    border-radius: 15px;
    max-width: 100%;
  }
  .museum {
    border-radius: 15px;
    max-width: 100%;
  }
  .theatre {
    border-radius: 15px;
    max-width: 100%;
  }
  .map {
    padding-top: 15pt;
    max-width: 100%;
  }

  #canals {
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #museums {
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #events {
    padding-left: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@media only screen and (max-width: 700px) {
  .toursh {
    padding-top: 40pt;
    font-size: 30pt;
  }
}
